* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

footer {
	background-color: #111;
	color: #fff;
}

.container {
	width: 100%;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}

.d-grid {
	display: grid;
}

.d-flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.justify-content-space-between {
	justify-content: space-between;
}

/* === FOOTER NAV === */

#footer__nav-menu {
	display: flex;
	flex-direction: column;
}

.footer__nav-menu-list ul {
	list-style: none;
}

/* === / FOOTER NAV === */

/* === GRIDS === */

.col-12 {
	width: 100%;
}

/* === / GRIDS === */

/* === MEDIA QUERIES === */

@media screen and (min-width: 576px) {
	#footer__nav-menu {
		flex-direction: row;
	}
	.footer__nav-menu-list {
	}
}

/* === / MEDIA QUERIES === */
