* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.border-bottom {
	border-bottom: 2px solid gray;
}

/* === FOOTER === */

footer {
	background-color: #111;
	color: #fff;
}

#footer__nav-menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer__nav-menu-list ul {
	list-style: none;
}

#footer__policy {
	display: grid;
	grid-template-columns: auto;
}

/* === / FOOTER === */

/* === GRIDS === */

.col-12 {
	width: 100%;
}
.container {
	width: 100%;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}

.d-grid {
	display: grid;
}

.d-flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.justify-content-space-between {
	justify-content: space-between;
}

.align-items-end {
	align-items: flex-end;
}

/* === / GRIDS === */

/* === MEDIA QUERIES === */

@media screen and (min-width: 576px) {
	#footer__nav-menu {
		flex-direction: row;
	}
	.col-sm-4 {
		width: 33.33333%;
	}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 991px) {
	.col-lg-3 {
		width: 25%;
	}
	.align-items-lg-end {
		align-items: flex-end;
	}
	#footer__policy {
		grid-template-columns: auto auto;
	}
}

@media screen and (min-width: 1360px) {
	.col-xl-auto {
		width: auto;
	}
	#footer__nav-menu {
		justify-content: space-between;
	}
}

/* === / MEDIA QUERIES === */
