* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body a {
	color: #00838c;
}

.border-bottom {
	border-bottom: 2px solid gray;
}

/* === FOOTER === */

footer {
	background-color: #111;
	color: #fff;
}

#footer__nav-menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.footer__nav-menu-list ul {
	list-style: none;
}

.footer__nav-menu-list ul li a {
	color: #d8efef;
}

#footer__media {
	display: flex;
	justify-content: space-between;
}

#footer__media__sm {
	display: flex;
	column-gap: 1rem;
}

#footer__media__sm .sm-icon {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	background-size: cover;
	background-position: center;
}

#footer__media__sm .sm-icon--fb {
	background-image: url("./img/facebook.svg");
}

#footer__media__sm .sm-icon--inst {
	background-image: url("./img/instagram.svg");
}

#footer__media__sm .sm-icon--tw {
	background-image: url("./img/twitter.svg");
}

#footer__media__sm .sm-icon--utube {
	background-image: url("./img/youtube.svg");
}

#footer__policy {
	display: grid;
	grid-template-columns: auto;
}

/* === / FOOTER === */

/* === GRIDS === */

.col-12 {
	width: 100%;
}
.container {
	width: 100%;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}

.d-grid {
	display: grid;
}

.d-flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.order-4 {
	order: 4;
}

.order-5 {
	order: 5;
}

/* === / GRIDS === */

/* === MARGINS, PADDINGS === */

.pt-1 {
	padding-top: 1rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.pt-2 {
	padding-top: 2rem;
}

.pb-2 {
	padding-bottom: 2rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

/* === / MARGINS, PADDINGS === */

/* === MEDIA QUERIES === */

@media screen and (min-width: 576px) {
	#footer__nav-menu {
		flex-direction: row;
	}
	.col-sm-4 {
		width: 33.33333%;
	}
	.flex-sm-row {
		flex-direction: row;
	}
}

@media screen and (min-width: 768px) {
	.flex-md-row {
		flex-direction: row;
	}
	.col-md-6 {
		width: 50%;
	}
	.align-items-md-start {
		align-items: flex-start;
	}
	.align-items-md-end {
		align-items: flex-end;
	}
	.order-md-1 {
		order: 1;
	}
	.order-md-2 {
		order: 2;
	}
}

@media screen and (min-width: 991px) {
	.col-lg-3 {
		width: 25%;
	}
	.align-items-lg-end {
		align-items: flex-end;
	}
	#footer__policy {
		grid-template-columns: auto auto;
		column-gap: 2rem;
	}
	.order-lg-1 {
		order: 1;
	}

	.order-lg-2 {
		order: 2;
	}

	.order-lg-3 {
		order: 3;
	}

	.order-lg-4 {
		order: 4;
	}
}

@media screen and (min-width: 1360px) {
	.col-xl-auto {
		width: auto;
	}
	#footer__nav-menu {
		justify-content: space-between;
	}
}

/* === / MEDIA QUERIES === */
